@import '../game';
.wrap {
	background-color: #90C1E3;
	background-position: center -400px;
	.title-box {
		align-self: flex-start;
		margin-left: -30px;
		margin-top: 20px;
		padding: 12px 15px 12px 35%;
		border-radius: 0 50px 50px 0;
		color: #78A2BE;
		&:after {
			right: 60%;
			top: -25px;
			width: 100px;
			height: 100px;
			background: url('src/assets/svg/sales.svg') no-repeat center;
		}
	}
	.cards-box {
		.card {
			background: white;
			border-radius: 5px;
			box-shadow: 0 5px 0 rgba(black, .15);
			.title {
				margin: 0;
				padding: 8px;
				border-radius: 5px;
				background: rgba(#90C1E3, .1);
				color: #78A2BE;
				font-size: 18px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				
			}
			.txt {
				padding: 15px 20px;
				color: #999999;
				line-height: 15px;
			}
			.actions {
				text-align: center;
				padding: 15px;
				button {
					border: 0;
					border-radius: 25px;
					background: #78A2BE;
					box-shadow: 0 3px 0 rgba(#90C1E3, .2);
					padding: 9px 15px;
					color: white;
					font-weight: bold;
					font-size: 12px;
					text-transform: uppercase;
					&:before {
						@extend %pseudo;
						display: inline-block;
						width: 28px;
						height: 21px;
						margin: 0 10px 0 0;
						vertical-align: middle;
						background: url('src/assets/svg/diamond-mini.svg') no-repeat center;
					}
				}
			}
		}
	}
}