.game-container {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	direction: rtl;
	.header {
		display: flex;
		justify-content: space-between;
		position: fixed;
		padding: 20px 20px 20%;
		left: 0;
		right: 0;
		top: 0;
		z-index: 20;
		background: linear-gradient(180deg, rgba(0,0,0,0.25253851540616246) 0%, rgba(0,0,0,0) 100%);;
		direction: ltr;
		.points-box {
			position: relative;
			width: 20%;
			padding: 5px;
			padding-left: 30px;
			margin-left: 20px;
			border: 3px solid #8D6C9F;
			border-radius: 5px;
			background: #F4EBD2;
			color: #8D6C9F;
			font-size: 20px;
			font-weight: bold;
			&.diamond:before {
				background-image: url('src/assets/svg/diamond.svg');
			}
			&:before {
				position: absolute;
				left: -25px;
				top: -7px;
				display: block;
				content: "";
				width: 50px;
				height: 44px;
				background: url('src/assets/svg/coin.svg') no-repeat center;
			}	
		}
	}
 	.journey {
		direction: ltr;
		position: relative;
		width: 100vw;
		height: 100%;
		overflow: hidden;
		background: rgba(161,193,81,1);
		.badges {
			position: relative;
			width: 100%;
			height: 115vw;
			max-height: 115vw;
			top: 50%;
			margin-top: -57.5vw;
			z-index: 10;
			.bagde {
				display: block;
				position: absolute;
				
				background: url('src/assets/svg/bagde-normal.svg') no-repeat center;
				color: #8D6C9F;
				font-size: 5vw;
				line-height: 18vw;
				text-align: center;
				font-weight: 900;
				text-shadow: 0 3px rgba(black, 15%);
				transition: transform .5s;
				animation: pulse 3s cubic-bezier(0.1, 0.7, 1.0, 0.1) 2s infinite alternate;
				.capsule {
					display: block;
					position: relative;
					width: 19.35vw;
					height: 19.35vw;
					&:before,
					&:after {
						display: none;
						content: "";
						position: absolute;
						transition: transform .5s;
					}
					&:before {
						width: 100px;
						height: 80px;
						top: -120px;
						left: -12px;
						background: url('src/assets/svg/panda.svg') no-repeat center;
						animation: jumping .75s cubic-bezier(0.2, 0.7, 0.2, 0.7) infinite alternate;
					}
					&:after {
						width: 80px;
						height: 10px;
						top: -20px;
						left: -2px;
						margin: 0 auto;
						border-radius: 50%;
						background: rgba(black, .15);
						animation: resizing .75s cubic-bezier(0.2, 0.7, 0.2, 0.7) infinite alternate;
					}
				}
				&.active { 
					animation-name: pulseactive;
					background-image: url('src/assets/svg/bagde-active.svg');
					.capsule {
						&:after,
						&:before { display: block; }
					}
					
				}
				&.badge-1 { left: 7vw; top: 42vw; }
				&.badge-2 { left: 133vw; top: 62vw; }
				&.badge-3 { left: 219vw; top: 88vw; }
				&.badge-4 { left: 324vw; top: 32vw; }
				&.badge-5 { left: 426vw; top: 38vw; }
				&.badge-6 { left: 534vw; top: 79vw; }
				&.badge-7 { left: 669vw; top: 42vw; }
			}
			
		}
		@for $i from 1 through 7 {
			&.level-#{$i} { width: 100vw * $i; }
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
			width: 700vw;
			height: 100vh;
			top: 0;
		}
	
		&:after {
			height: 115vw;
			max-height: 115vw;
			top: 50%;
			margin-top: -57.5vw;
			background: url('src/assets/svg/bggame.svg') no-repeat center;
		}
		&:before { 
			background: linear-gradient(90deg, rgba(248,221,142,1) 0%, rgba(161,193,81,1) 100%); 
		}
	}
}
:host {

	@keyframes pulse {
		0%, 90% { transform: scale(1); }
		100% { transform: scale(1.25); }
	}

	@keyframes pulseactive {
		0%, 90% { transform: scale(1); }
		100% { transform: scale(1.5); }
	}
}

@keyframes jumping {
	to { transform: translate(0, 0); }
	to { transform: translate(0, -25px); }
}
@keyframes resizing {
	to { transform: scale(1); }
	to { transform: scale(.7); }
}