.game-container {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	 direction: rtl;
	.journey {
		 direction: ltr;
		position: relative;
		width: 100vw;
		height: 100%;
		overflow: hidden;
		background: rgba(161,193,81,1);
		.badges {
			position: relative;
			width: 100%;
			height: 115vw;
			max-height: 115vw;
			top: 50%;
			margin-top: -57.5vw;
			z-index: 10;
			.bagde {
				display: block;
				position: absolute;
				width: 19.35vw;
				height: 19.35vw;
				background: url('/assets/svg/bagde-normal.svg') no-repeat center;
				color: #8D6C9F;
				font-size: 5vw;
				line-height: 18vw;
				text-align: center;
				font-weight: 900;
				text-shadow: 0 3px rgba(black, 15%);
				transition: transform .5s;
				animation: pulse 3s cubic-bezier(0.1, 0.7, 1.0, 0.1) 2s infinite alternate;
				&.active { 
					animation-name: pulseactive;
					background-image: url('/assets/svg/bagde-active.svg');
				}
				&.badge-1 { left: 7vw; top: 42vw; }
				&.badge-2 { left: 133vw; top: 62vw; }
				&.badge-3 { left: 219vw; top: 88vw; }
				&.badge-4 { left: 324vw; top: 32vw; }
				&.badge-5 { left: 426vw; top: 38vw; }
				&.badge-6 { left: 534vw; top: 79vw; }
				&.badge-7 { left: 669vw; top: 42vw; }
			}
			
		}
		@for $i from 1 through 7 {
			&.level-#{$i} { width: 100vw * $i; }
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
			width: 700vw;
			height: 100vh;
			top: 0;
		}
	
		&:after {
			height: 115vw;
			max-height: 115vw;
			top: 50%;
			margin-top: -57.5vw;
			background: url('/assets/svg/bggame.svg') no-repeat center;
		}
		&:before { 
			
			background: linear-gradient(90deg, rgba(248,221,142,1) 0%, rgba(161,193,81,1) 100%); 
		}
	}
}
:host {

	@keyframes pulse {
		0%, 90% { transform: scale(1); }
		100% { transform: scale(1.25); }
	}

	@keyframes pulseactive {
		0%, 90% { transform: scale(1); }
		100% { transform: scale(1.5); }
	}
}