<div class="wrap">
    <!-- <div *ngIf="!user" class="card text-center"> -->
        <h1 class="title">Conecte-se</h1>
		<div class="msg-box">Conecte-se a nossa incrível para começar economizar</div>
		<div class="zoe"><img src="assets/svg/panda.svg" /></div>
        <div class="actions">
            <button mat-flat-button color="primary" (click)="signInWithGoogle()">Login com Google</button>
           <!--  <button mat-button color="accent" (click)="signInWithFB()">Login Facebook</button> -->
        </div>
    <!-- </div> -->

    <!-- <div *ngIf="user" class="card text-center">
        <h6 class="card-header">
            Social Login Demo
        </h6>
        <div class="card-block"></div>
        <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
        <div class="card-block">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
        </div>
        <div class="card-block">
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
    </div> -->
</div>